body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('pic.jpg'); 
    background-size: cover;
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 600px; 
}

h1 {
    font-size: 28px; 
    margin-bottom: 20px;
}

textarea {
    width: 580px;
    height: auto;
    max-height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: white;
    resize: none; 
    overflow-y: auto; 
}

select, input, button {
    width: 580px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #444;
    color: white;
}

button {
    cursor: pointer;
}

#outputText {
    padding: 10px;
    background-color: #222;
  
}