body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('pic.jpg'); 
    background-size: cover;
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

textarea {
    width: 100%; 
}