body {
    font-family: 'Arial', sans-serif;
    background-image: url('pic.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
}

#outputText {
    word-break: break-all;
}